@(foods:Seq[services.Food], auth:Boolean)
<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>
    @if(auth) {
        CMFOODS LIST
    } else {
        CMFOODS - NonAUTH
    }
    </title>
</head>
<body>
    <div class="container-fluid">
        @if(foods.nonEmpty){
            <div class="card-columns">
                @for(good <- foods){
                @if(auth) {
                    <div class="card mb-0 mt-3">
                        @if(good.picture.nonEmpty){
                            <img src="@good.picture.getOrElse(".")" class="card-img-top" alt="...">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@good.name
                                <span style="vertical-align: center" class="badge badge-light">@good.kind</span>
                            </h5>
                            <p class="card-text">@good.description</p>
                            <p class="card-text">
                                <span style="opacity: 0.7" class="badge badge-pill
                                          @{good.buyEatIntervalDay match {
                                    case i if i > 1 => "badge-success"
                                    case i if i == 1 => "badge-light"
                                    case i if i == 0 => "badge-warning"
                                }}
                                ">H@good.hungerDegree-E@good.evilDegree</span>
                                <span class="badge badge-pill badge-light">#@good.id</span>
                                <small class="text-muted">
                                @defining(java.time.format.DateTimeFormatter.ofPattern("YYYY/MM/dd HH:mm")) { formatter =>
                                    <svg style="margin-bottom: 4px" class="icon" width="1em" height="1em" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#707070" d="M778.666667 170.666667a32 32 0 0 1 32 32v362.666666a32 32 0 0 1-64 0v-362.666666a32 32 0 0 1 32-32zM170.666667 778.666667a32 32 0 0 1 32-32h362.666666a32 32 0 0 1 0 64h-362.666666a32 32 0 0 1-32-32zM353.28 308.053333a32 32 0 0 0-45.226667 45.226667l277.333334 277.333333a32 32 0 1 0 45.226666-45.226666l-277.333333-277.333334z" /></svg>
                                    @{good.addTime.format(formatter)}
                                }
                                </small></p>
                        </div>
                    </div>
                } else {
                    <div class="alert alert-success mt-3" role="alert">
                        <h4 class="alert-heading">
                            ✔︎ <span style="vertical-align: top" class="badge badge-pill badge-light">#@good.id</span> Check Passed.</h4>
                        <p></p><hr>
                        <p class="mb-0">But you don't have more permissions, try to pass the authentication to continue.</p>
                    </div>
                }
            }
            </div>
        }else{
            <div class="alert alert-danger mt-3" role="alert">
                <h4 class="alert-heading">
                    ✘ NOTHING HERE! <span style="vertical-align: top" class="badge badge-pill badge-warning"># ???</span></h4>
                <p></p><hr>
                <p class="mb-0">This Query was not found in this system, please make sure it is spelled correctly.
                    Also, this may be a temporary error, please try again later.</p>
            </div>
        }
        <p></p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>